################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JH.AgFtp/v15/Server/sqlite3
/.vs/JH.AgFtp/DesignTimeBuild
/JH.AgFtp/bin/Debug/AGIN
/JH.AgFtp/bin/Debug
/JH.AgFtp/obj/Debug
/packages
/.vs/JH.AgFtp/v15
/.vs
